/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

.accessDenied{
  display: flex;
  justify-content: center;
}
header {
  background: #fff;
}
header .container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
div.success {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {

  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav img {
  width: 50px;
}

nav .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav .dropdown-menu {
  width: max-content;
  background-color: var(--primary);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 0;
}

.arrow {
  height: 10px;
  width: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

nav .signupContainer {
  display: flex;
}

nav .login {
  height: max-content;
  text-decoration: underline;
  margin: 0;
  margin-top: auto;
}

/* auth forms */
form.signup, form.login, form.passwordChange {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form.changeDetails {
  max-width: max-content;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form.changeDetails div {
  display: flex;
  justify-content: space-between;
}